     
            <!-- PAGE CONTENT -->
            <div id="page">
                
            
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#">Acceuil</a></li>
                    <li><a href="#">Liste Candidats</a></li>
                    
                </ul>
                <!-- END BREADCRUMB -->                                                
                
                <!-- PAGE TITLE -->
                <div class="page-title">                    
                    <h2><span class="fa fa-users"></span> Liste Candidats</h2>
                </div>
                <!-- END PAGE TITLE -->                
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                    
                    <div class="row">
                        <div class="col-md-12">
                            
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p>Utilisez la recherche pour trouver des candidats. Vous pouvez rechercher par : nom  prénom,  spécialité. Ou utilisez la recherche avancée.</p>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <span class="fa fa-search"></span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Who are you looking for?"/>
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-primary">Recherche</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <button class="btn btn-success btn-block"(click)="addClick()"><span class="fa fa-plus"></span> Ajouter Nouveau Candidat</button>
                                            </div>
                                        </div>
                                    </form>                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    




                    
                    <div class="row" >
                        <div class="col-md-3" *ngFor="let data of ListCandidat | paginate: { itemsPerPage: 8, currentPage: p }">
                            <!-- CONTACT ITEM -->
                            <div class="panel panel-default">
                                <div class="panel-body profile">
                                    <div class="profile-image">
                                        <img src="assets/images/Candidats/{{data.candidat_Photo}}" width="100px" height="100px" alt="Nadia Ali"/>
                                    </div>
                                    <div class="profile-data">
                                        <div class="profile-data-name">{{data.candidat_Nom_Prenom}}</div>
                                        <div class="profile-data-title">{{data.formationCandidat_Specialite}}</div>
                                    </div>
                                    <div class="profile-controls">
                                        <a href="#" class="profile-control-left"><span class="fa fa-info"></span></a>
                                        <a href="#" class="profile-control-right"><span class="fa fa-phone"></span></a>
                                    </div>
                                </div>                                
                                <div class="panel-body">                                    
                                    <div class="contact-info">
                                        <p><small>Mobile</small><br/>{{data.candidat_Tel}}</p>
                                        <p><small>Email</small><br/>{{data.candidat_Mail}}</p>
                                        <p><small>Adresse</small><br/>{{data.candidat_Adressse}}</p>                                   
                                    </div>
                                </div>                                
                            </div>
                            <!-- END CONTACT ITEM -->
                        </div>
                     
                       
                        
                                              
                    </div>







                    <div class="row">
                        <div class="col-md-12">
                            <ul class="pagination pagination-sm pull-right push-down-10 push-up-10">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls> 
                            </ul>                            
                        </div>
                    </div>

                </div>
                <!-- END PAGE CONTENT WRAPPER -->                                                 
            </div>            
            <!-- END PAGE CONTENT -->
        