
            
            <!-- PAGE CONTENT -->
            <div class="page">
                
                            
                
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#">Acceuil</a></li>
                    <li><a href="#">Liste Candidats</a></li>
                    <li><a href="#">Ajout Candidat</a></li>
                  
                </ul>
                <!-- END BREADCRUMB -->
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                
                    <div class="row">
                        <div class="col-md-12">
                            
                <form class="form-horizontal"  action="form" autocomplete="off" novalidate #regularForm="ngForm" (ngSubmit)="OnSubmit(regularForm)"  >
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Ajouter Candidat</strong></h3>
                                    <!-- <ul class="panel-controls">
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul> -->
                                </div>
                               
                                <div class="panel-body">                                                                        
                                    
                                    <div class="row">
                                        
                                        <div class="col-md-6">
                                            
                                           
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Nom</label>
                                                <div class="col-md-9">                                            
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-user"></span></span>
                                                        <input type="text" [(ngModel)]="Nom" id="Nom" name="nom" #nom="ngModel" placeholder="saisie nom..." class="form-control" required/>
                                                    </div>                                            
                                                    <span class="text-danger"  *ngIf="nom.invalid && isNotValid">Nom est obligatoire!</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Prénom</label>
                                                <div class="col-md-9">                                            
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                                        <input type="text" id="Prenom" [(ngModel)]="Prenom" name="prenom" #prenom="ngModel" placeholder="saisie prénom..." class="form-control" required/>
                                                    </div>                                            
                                                    <span class="text-danger"  *ngIf="prenom.invalid && isNotValid" >Prénom est obligatoire!</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Nom Prénom</label>
                                                <div class="col-md-9">                                            
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input type="text" #nomprenom="ngModel" name="nomprenom" [(ngModel)]="NomPrenom" id="NomPrenom" class="form-control" placeholder="saisie nom et prénom..." required/>
                                                    </div>                                            
                                                    <span class="text-danger"  *ngIf="nomprenom.invalid && isNotValid">Nom et Prénom est obligatoire!</span>
                                                </div>
                                            </div>   
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Télephone</label>
                                                <div class="col-md-9">                                            
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-phone-alt"></span></span>
                                                        <input type="text" id="Telephone" name="tele" [(ngModel)]="Telephone" #tele="ngModel" class="form-control" placeholder="saisie numéro téléphone..." required/>
                                                    </div>                                            
                                                    <span class="text-danger"  *ngIf="tele.invalid && isNotValid">Numéro téléphone est obligatoire!</span>
                                                </div>
                                            </div>   
                                            
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Adresse</label>
                                                <div class="col-md-9">                                            
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                                                        <input type="text" id="Adresse" name="adress" [(ngModel)]="Adresse" #adress="ngModel" class="form-control" placeholder="saisie votre adresse..." required/>
                                                    </div>                                            
                                                     <span class="text-danger"  *ngIf="adress.invalid && isNotValid">Adresse est obligatoire!</span> 
                                                </div>
                                            </div>   
                                           
                                            <div class="form-group">                                        
                                                <label class="col-md-3 control-label">Date De Naissance</label>
                                                <div class="col-md-9">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                        <input type="text" id="DateNaissance" #dateNaiss (change)="selectDateNaissance($event)" value="2014-11-01"  class="form-control datepicker" >                                            
                                                    </div>
                                                    <!-- <span class="help-block" style="color: red;" *ngIf="DateNaissanceValid">Date de naissance est obligatoire!</span> -->
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Lieu De Naissance</label>
                                                <div class="col-md-9">                                                                                            
                                                    <select class="form-control" (change)="selectVille($event)">
                                                        <option value="" >----Choisir Ville----</option>
                                                        <option *ngFor="let ville of ListVille" value="{{ville.ville_Id}}">{{ville.ville_Designation}}</option>
                                                       
                                                    </select>
                                                    <!-- <span class="select-arrow" style="color: red;" *ngIf="VilleValid" >Ville est obligatoire!</span> -->
                                                </div>
                                            </div>
                                           
                                           
                                         
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Photo</label>
                                                <div class="col-md-9">  
                                                    <img [src]="imageUrl" height="150px" width="100px" >                                                                                                                                      
                                                    <input type="file" [(ngModel)]="Image"  class="fileinput btn-primary"  name="Image" id="Image"  accept="image/*" (change)="handleFileInput($any($event).target.files)" title="Parcourir le fichier"/>
                                                    <!-- <span class="help-block">photo est obligatoire</span> -->
                                                </div>
                                            </div>

                                           
                                            
                                        </div>
                                        <div class="col-md-6">
                                            
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">CIN</label>
                                                <div class="col-md-9">                                            
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-credit-card"></span></span>
                                                        <input type="text" id="Cin" name="Cin" [(ngModel)]="Cin"  placeholder="saisie le cin..." class="form-control"/>
                                                    </div>                                            
                                                    <!-- <span class="help-block" style="color: red;" *ngIf="CinValid">Cin est obligatoire!</span> -->
                                                </div>
                                            </div>
                                           
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Specialité</label>
                                                <div class="col-md-9">                                            
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input type="text" id="Specialite" name="specialite" [(ngModel)]="Specialite" #specialite="ngModel" placeholder="saisie identifiant..." class="form-control" required/>
                                                    </div>                                            
                                                    <span class="text-danger"  *ngIf="specialite.invalid && isNotValid">Specialité obligatoire!</span>
                                                </div>
                                            </div>
                                            


                                            <div class="form-group">                                        
                                                <label class="col-md-3 control-label">Nombre Expérience</label>
                                                <div class="col-md-9 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-unlock-alt"></span></span>
                                                        <input type="number" name="nBExperience" id="NBExperience" [(ngModel)]="NBExperience" #nBExperience="ngModel" placeholder="saisie mot de passe..." class="form-control" required/>
                                                    </div>            
                                                    <span class="text-danger"  *ngIf="nBExperience.invalid && isNotValid">Nombre expérience obligatoire!</span>
                                                </div>
                                            </div>

                                           
                                           
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Email</label>
                                                <div class="col-md-9">                                            
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
                                                        <input type="text" id="Email" name="email" [(ngModel)]="Email" #email="ngModel" placeholder="saisie email..." class="form-control" required/>
                                                    </div>                                            
                                                    <span class="text-danger"  *ngIf="email.invalid && isNotValid">Email est obligatoire!</span>
                                                </div>
                                            </div>
                                           
                                        
                                            
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Niveau Scolaire</label>
                                                <div class="col-md-9">                                                                                            
                                                    <select class="form-control" (change)="selectNiveauScolaire($event)" name="niveauScolaire" #niveauScolaire="ngModel" [(ngModel)]="NiveauScolaire" required >
                                                        <option value="" >----Choisir Niveau Scolaire----</option>
                                                        <option *ngFor="let niveau of ListNiveauEtude" value="{{niveau.niveauScolaire_Id}}">{{niveau.niveauScolaire_Designation}}</option>
                                                        
                                                    </select>
                                                    <span class="text-danger"  *ngIf="niveauScolaire.invalid && isNotValid">Niveau Scolaire est obligatoire!</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Lettre Motivation</label>
                                                <div class="col-md-9">                                                                                                                                       
                                                    <input type="file" [(ngModel)]="LettreMotivation"  class="fileinput btn-primary"  name="LettreMotivation" id="LettreMotivation"  accept="image/*" (change)="handleLettreMotivationInput($any($event).target.files)" title="Parcourir le fichier"/>
                                                    <!-- <span class="help-block">photo est obligatoire</span> -->
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">CV</label>
                                                <div class="col-md-9">                                                                                                                                      
                                                    <input type="file" [(ngModel)]="CV"  class="fileinput btn-primary"  name="CV" id="CV"  accept="image/*" (change)="handleCVInput($any($event).target.files)" title="Parcourir le fichier"/>
                                                    <!-- <span class="help-block">photo est obligatoire</span> -->
                                                </div>
                                            </div>
                                          
                                            
                                            
                                        </div>
                                        
                                    </div>

                                </div>
                                <div class="panel-footer">
                                    <!-- <button class="btn btn-default">Na</button>  -->
                                    <button class="btn btn-primary pull-right" type="submit">Enregistrer</button>   
                                    <button class="btn btn-primary pull-right" style="margin-right: 2%;" (click)="retour()">Retour</button>                                
                                    
                                </div>
                            </div>
                    </form>
                            
                        </div>
                    </div>                    
                    
                </div>
                <!-- END PAGE CONTENT WRAPPER -->                                                
            </div>            
            <!-- END PAGE CONTENT -->
        
  

        
       
                
       







