
            
            <!-- PAGE CONTENT -->
            <div class="page">
                
                            
                
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#">Acceuil</a></li>
                    <li><a href="#">Liste Utilisateurs</a></li>
                    <li><a href="#">Ajout Utilisateur</a></li>
                  
                </ul>
                <!-- END BREADCRUMB -->
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                
                    <div class="row">
                        <div class="col-md-12">
                            
                            <form class="form-horizontal">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Ajouter Utilisateur</strong></h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>
                                </div>
                               
                                <div class="panel-body">                                                                        
                                    
                                    <div class="row">
                                        
                                        <div class="col-md-6">
                                            
                                           
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Nom</label>
                                                <div class="col-md-9">                                            
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-user"></span></span>
                                                        <input type="text" id="Nom" #nom placeholder="saisie nom..." class="form-control"/>
                                                    </div>                                            
                                                    <span class="help-block" style="color: red;" *ngIf="NomValid">Nom est obligatoire!</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Prénom</label>
                                                <div class="col-md-9">                                            
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                                        <input type="text" id="Prenom" #prenom placeholder="saisie prénom..." class="form-control"/>
                                                    </div>                                            
                                                    <span class="help-block" style="color: red;" *ngIf="PrenomValid" >Prénom est obligatoire!</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Nom Prénom</label>
                                                <div class="col-md-9">                                            
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input type="text" #nomprenom id="NomPrenom" class="form-control" placeholder="saisie nom et prénom..."/>
                                                    </div>                                            
                                                    <span class="help-block" style="color: red;" *ngIf="NomPrenomValid">Nom et Prénom est obligatoire!</span>
                                                </div>
                                            </div>   
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Télephone</label>
                                                <div class="col-md-9">                                            
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-phone-alt"></span></span>
                                                        <input type="text" id="Telephone" #tele class="form-control" placeholder="saisie numéro téléphone..."/>
                                                    </div>                                            
                                                    <span class="help-block" style="color: red;" *ngIf="TelephoneValid">Numéro téléphone est obligatoire!</span>
                                                </div>
                                            </div>                                                                             
                                           
                                            <div class="form-group">                                        
                                                <label class="col-md-3 control-label">Date De Naissance</label>
                                                <div class="col-md-9">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                        <input type="text" id="DateNaissance" #dateNaissance class="form-control datepicker" value="2014-11-01">                                            
                                                    </div>
                                                    <span class="help-block" style="color: red;" *ngIf="DateNaissanceValid">Date de naissance est obligatoire!</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Lieu De Naissance</label>
                                                <div class="col-md-9">                                                                                            
                                                    <select class="form-control" (change)="selectVille($event)">
                                                        <option value="" >----Choisir Ville----</option>
                                                        <option *ngFor="let ville of ListVille" value="{{ville.ville_Id}}">{{ville.ville_Designation}}</option>
                                                       
                                                    </select>
                                                    <span class="select-arrow" style="color: red;" *ngIf="VilleValid" >Ville est obligatoire!</span>
                                                </div>
                                            </div>
                                           
                                           
                                         
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Photo</label>
                                                <div class="col-md-9">  
                                                    <img [src]="imageUrl" height="150px" width="100px" >                                                                                                                                      
                                                    <input type="file" #image class="fileinput btn-primary"  name="Image" id="Image"  accept="image/*" (change)="handleFileInput($any($event).target.files)" title="Parcourir le fichier"/>
                                                    <!--<span class="help-block">photo est obligatoire</span>-->
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-6">
                                            
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">CIN</label>
                                                <div class="col-md-9">                                            
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-credit-card"></span></span>
                                                        <input type="text" id="Cin" #cin placeholder="saisie le cin..." class="form-control"/>
                                                    </div>                                            
                                                    <span class="help-block" style="color: red;" *ngIf="CinValid">Cin est obligatoire!</span>
                                                </div>
                                            </div>
                                            <div class="form-group">                                        
                                                <label class="col-md-3 control-label">Date De CIN</label>
                                                <div class="col-md-9">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                                        <input type="text" id="DateCin" #dateCin class="form-control datepicker" value="2014-11-01">                                            
                                                    </div>
                                                    <span class="help-block" style="color: red;" *ngIf="DateCinValid">Date de cin obligatoire</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Identifiant</label>
                                                <div class="col-md-9">                                            
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                        <input type="text" id="Login" #login placeholder="saisie identifiant..." class="form-control"/>
                                                    </div>                                            
                                                    <span class="help-block" style="color: red;" *ngIf="LoginValid">Identifiant obligatoire!</span>
                                                </div>
                                            </div>
                                            


                                            <div class="form-group">                                        
                                                <label class="col-md-3 control-label">Mot De Passe</label>
                                                <div class="col-md-9 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-unlock-alt"></span></span>
                                                        <input type="password" id="Password" #password placeholder="saisie mot de passe..." class="form-control"/>
                                                    </div>            
                                                    <span class="help-block" style="color: red;" *ngIf="PasswordValid">Mot de passe obligatoire!</span>
                                                </div>
                                            </div>
                                            <div class="form-group">                                        
                                                <label class="col-md-3 control-label">Confirme Mot De Passe</label>
                                                <div class="col-md-9 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-unlock-alt"></span></span>
                                                        <input type="password" id="ConfirmPassword" #passwordConfirm placeholder="saisie mot de passe" class="form-control"/>
                                                    </div>            
                                                    <span class="help-block" style="color: red;" *ngIf="ConfirmPasswordValid">Mot de passe confirm obligatoire!</span>
                                                    <span class="help-block" style="color: red;" *ngIf="IncorrectPassword">Veillez saisir le même mot de passe!</span>
                                                </div>
                                            </div>
                                           
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Email</label>
                                                <div class="col-md-9">                                            
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
                                                        <input type="text" id="Email" #email placeholder="saisie email..." class="form-control"/>
                                                    </div>                                            
                                                    <span class="help-block" style="color: red;" *ngIf="EmailValid">Email est obligatoire!</span>
                                                </div>
                                            </div>
                                           
                                        
                                            
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Specialité</label>
                                                <div class="col-md-9">                                                                                            
                                                    <select class="form-control" (change)="selectSpecialite($event)" >
                                                        <option value="" >----Choisir Spécialité----</option>
                                                        <option *ngFor="let specialite of ListSpecialite" value="{{specialite.specialite_Id}}">{{specialite.specialite_Designation}}</option>
                                                        
                                                    </select>
                                                    <span class="select-arrow" style="color: red;" *ngIf="Specialitevalid">Spécialité est obligatoire!</span>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Role</label>
                                                <div class="col-md-9">                                                                                            
                                                    <select class="form-control" (change)="selectRole($event)" >
                                                        <option value="" >----Choisir Role----</option>
                                                        <option *ngFor="let role of ListRoleUser" value="{{role.role_Id}}">{{role.roleUser_Designation}}</option>
                                                        
                                                    </select>
                                                    <span class="select-arrow" style="color: red;" *ngIf="RoleUserValid">Role est obligatoire!</span>
                                                </div>
                                            </div>
                                            <!--<div class="form-group">
                                                <label class="col-md-3 control-label">Checkbox</label>
                                                <div class="col-md-9">                                                                                                                                        
                                                    <label class="check"><input type="checkbox" class="icheckbox" checked="checked"/> Checkbox title</label>
                                                    <span class="help-block">Checkbox sample, easy to use</span>
                                                </div>
                                            </div>-->
                                            
                                        </div>
                                        
                                    </div>

                                </div>
                                <div class="panel-footer">
                                    <button class="btn btn-default">Clear Form</button> 
                                    <button class="btn btn-primary pull-right" (click)="OnSubmit(nom,prenom,nomprenom,tele,cin,dateCin,dateNaissance,image,login,password,passwordConfirm,email)" >Enregistrer</button>   
                                    <button class="btn btn-primary pull-right" style="margin-right: 2%;" (click)="retour()">Retour</button>                                
                                    
                                </div>
                            </div>
                            </form>
                            
                        </div>
                    </div>                    
                    
                </div>
                <!-- END PAGE CONTENT WRAPPER -->                                                
            </div>            
            <!-- END PAGE CONTENT -->
        
  

        
       
                
       







